---
http_interactions:
- request:
    method: get
    uri: https://apps-apis.google.com/a/feeds/calendar/resource/2.0/gild.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Gdata-Version:
      - '2.0'
      Authorization:
      - Bearer ya29.YXJIwThKBwwyJGTJTcLnfeNEGiGi3npeffzzVO6JrPKrc6mPpubmD1M2ojt
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8; type=feed
      Gdata-Version:
      - '2.0'
      Last-Modified:
      - Wed, 10 Dec 2014 05:41:28 GMT
      Alternate-Protocol:
      - 443:quic,p=0.02
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearch/1.1/' xmlns:apps='http://schemas.google.com/apps/2006'><id>https://apps-apis.google.com/a/feeds/calendar/resource/2.0/gild.com</id><updated>2014-12-10T05:41:28.948Z</updated><link
        rel='http://schemas.google.com/g/2005#feed' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/gild.com'/><link
        rel='http://schemas.google.com/g/2005#post' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/gild.com'/><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/gild.com'/><openSearch:startIndex>1</openSearch:startIndex><entry
        xmlns:gd='http://schemas.google.com/g/2005' gd:etag='W/&quot;CkcMSXc_cCp7ImA9XRdbEUQ.&quot;'><id>https://apps-apis.google.com/a/feeds/calendar/resource/2.0/gild.com/-23390646-393</id><updated>2014-12-10T05:41:28.948Z</updated><app:edited
        xmlns:app='http://www.w3.org/2007/app'>2014-12-10T05:41:28.948Z</app:edited><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/gild.com/-23390646-393'/><link
        rel='edit' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/gild.com/-23390646-393'/><apps:property
        name='resourceId' value='-23390646-393'/><apps:property name='resourceCommonName'
        value='Camping'/><apps:property name='resourceEmail' value='gild.com_2d52333339503634362d333533@resource.calendar.google.com'/><apps:property
        name='resourceDescription' value='The meeting room behind Vivienne&apos;s
        desk. Phone is 415-335-3372.'/><apps:property name='resourceType' value='Conference
        Room'/></entry><entry xmlns:gd='http://schemas.google.com/g/2005' gd:etag='W/&quot;CkcMSXc_cCp7ImA9XRdbEUQ.&quot;'><id>https://apps-apis.google.com/a/feeds/calendar/resource/2.0/gild.com/-52435197-538</id><updated>2014-12-10T05:41:28.948Z</updated><app:edited
        xmlns:app='http://www.w3.org/2007/app'>2014-12-10T05:41:28.948Z</app:edited><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/gild.com/-52435197-538'/><link
        rel='edit' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/gild.com/-52435197-538'/><apps:property
        name='resourceId' value='-52435197-538'/><apps:property name='resourceCommonName'
        value='Java'/><apps:property name='resourceEmail' value='gild.com_2d35323433453233372e353338@resource.calendar.google.com'/><apps:property
        name='resourceDescription' value='Phone 415-344-4479'/><apps:property name='resourceType'
        value='Conference room'/></entry><entry xmlns:gd='http://schemas.google.com/g/2005'
        gd:etag='W/&quot;CkcMSXc_cCp7ImA9XRdbEUQ.&quot;'><id>https://apps-apis.google.com/a/feeds/calendar/resource/2.0/gild.com/-71168782-430</id><updated>2014-12-10T05:41:28.948Z</updated><app:edited
        xmlns:app='http://www.w3.org/2007/app'>2014-12-10T05:41:28.948Z</app:edited><link
        rel='self' type='application/atom+xml' href='https://apps-apis.google.com/a/feeds/calendar/resource/2.0/gild.com/-71168782-430'/><link
        rel='edit' type='application/atom+xml' href='https://apps-apis.googl[...]
